
<div class="container-fluid">
    <div id="titulo-inicio" class="row justify-content-center">
        <h2>TRANSMIPUNTOS</h2>
    </div>
    <div id="contenedor-botones">  
      <div class="row justify-content-center">
        <a href="#" class="boton-codigo"><i class="fas fa-barcode"></i> Inicio con código</a>
      </div>
      <div class="row justify-content-center">    
        <a href="#" class="boton-NFC"><i class="fas fa-exchange-alt"></i> Inicio con NFC </a>
      </div>
     </div>
</div>



